.container {
    background-color: white;
    width: 100%;
    margin: 0;
}

.bg-white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 500px;
    width: auto;
    margin: 0 auto;
}

.bg-white img {
    width: 60%;
    height: 400px;
    border: 1px solid rgb(107, 106, 106);
}




.info-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* user */
.input p {
    font-size: 1.6em;
}

.input input {
    width: 900px;
    font-size: 1.6em;
    padding: 5px;
}

.message textarea {
    width: 900px;
    height: 250px;
    font-size: 20px;
    padding: 5px;
    font-weight: 900;
    resize: none;
}

.send {
    text-transform: uppercase;
    width: 200px;
    font-size: 1.5em;
    background-color: #0087BF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 30px 0 30px 0;
}

/* company information */
.company-info {
    border-left: 1px solid #676666;
    padding-left: 50px;
    height: 530px;
    font-size: 18px;
}

.social img {
    width: 75px;
    height: 75px;
    border: 1px solid #676666;
}

.c-info p:first-child,
.social p {
    font-size: 25px;
    font-weight: 700;
}


@media all and (max-width:1024px) {

    .bg-white {
        height: 400px;
    }

    .info-container {
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .bg-white img {
        height: 300px;
    }
    
    /* user */
    .input p {
        font-size: 20px;
    }

    .input input {
        width: 300px;
        font-size: 1em;
        padding: 5px;
    }

    .message textarea {
        width: 300px;
        height: 150px;
        font-size: 15px;
        padding: 5px;
        font-weight: 900;
        resize: none;
    }

    .send {
        text-transform: uppercase;
        width: 150px;
        font-size: 1.2em;
        background-color: #0087BF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        padding: 10px;
        margin: 30px 0 30px 0;
    }

    /* company*/

    .company-info {
        border-top: 1px solid #676666;
        border-left: 0;
        padding-left: 25px;
        width: 300px;
        font-size: 15px;
    }
    .social{
        text-align: center;
        border-top: 1px solid #676666;
        margin-top: 20px;
    }
    .social img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border: 1px solid #676666;
    }
    
    .c-info p:first-child,
    .social p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}