body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    height: 2000px;
}

a {
    text-decoration: none;
    color: white;
}

div, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin-bottom: 100px;
}

@keyframes continue-turn {
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    width: 80px;
    height: 80px;
    /* animation: continue-turn 7s linear infinite; */
}

.navbar {
    margin: 0 auto;
}

.top-container {
    display: flex;
    background-image: url("/images/index/top-container-img.jpg");
    height: 500px;
    width: auto;
    background-attachment: fixed;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.list {
    width: 150px;
    font-weight: 500;
    font-size: 20px;
    float: left;
    height: 50px;
    margin: auto;
    z-index: 2;
}

.list a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: -20px 20px;
    padding: 5px 10px;
}

.contents {
    color: white;
}

.main-title {
    font-size: 70px;
    font-weight: bold;
    margin: 35px;
}

.title-explain {
    font-size: 17px;
    font-weight: 300;
}

.btn {
    text-transform: uppercase;
    width: 200px;
    font-size: 1.5em;
    background-color: #0087BF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.more {
    padding: 10px 5px;
    margin: 0px auto;
    position: relative;
    top: 30px;
}
/* 사용기술 */
.title{
    font-size: 40px;
    font-weight: 700;
}

.title-container{
    text-align: center;
}
.card {
    width: 300px;
    margin: 30px 20px;
}

.card img {
    width: 200px;
}

/* 깃 바로가기 */
.git-container {
    display: flex;
    color: white;
    width: 100%;
    height: 200px;
    float: left;
    background-color: #0087BF;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.git-container img {
    width: 100px;
    margin-right: 50px;
}

.git-container p, .git-container a {
    font-size: 25px;
    margin-right: 100px;
    color: white;
}
.git-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: white solid 1px;
    border-radius: 20px;
}
.container3 h2 {
    display: absolute;
    margin: 0px auto;
    text-align: center;
}

.card-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* 등장인물 */
.p-card img {
    width: 250px;
    height: 200px;
    margin: 0 30px;
}

/* 리뷰 */
.review-container {
    position: relative;
    background-image: url("/images/index/top-container-img.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.r-title {
    color: white;
    padding-top: 50px;
}

.r-container {
    width: 86%;
    margin: 0 auto;
    text-align: center;
}

.r-card {
    background-color: white;
    width: 500px;
    height: 200px;
    font-size: 13px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    vertical-align: top;
}

.r-card img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 10px;
}

/* 작가 */
.a-container {
    display: flex;
    justify-content: center;
}

.a-container div:first-child {
    margin-right: 100px;
}

.author-img img {
    width: 450px;
    height: 400px;
}
.author-img {
    order: 2;
}

.a-intro {
    order: 1;
    margin-right: 30px;
}

footer {
    color: white;
    display: flex;
    height: 300px;
    background-color: #030D42;
    justify-content: center;
}

.underline {
    width: 150px;
    border-top: white 1px solid;
}

.f-title:first-child .underline {
    width: 300px;
    border-top: white 1px solid;
}

footer .f-title {
    margin-right: 100px;
}

footer .f-title:first-child {
    margin-right:200px;
}


@media all and (max-width:1023px) { 
    .container {
        margin-bottom: 50px;
    }

    .title{
        font-size: 30px;
        font-weight: 600;
    }
    /* 탑 메뉴 */
    .list{
        font-size: 13px;
        width: 80px;
        font-weight: 500;
        float: left;
        height: 50px;
        margin: auto;
        z-index: 2;
    }

    .list img{
        width: 40px;
        height: 40px;
    }

    .main-title{
        font-size: 45px;
        font-weight: 400;
        margin: 35px;
    }

    .title-explain{
        font-size: 12px;
        font-weight: 200;
    }

    .btn {
        text-transform: uppercase;
        width: 150px;
        font-size: 1em;
        background-color: #0087BF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    /* 사용기술 */
    .card {
        width: 200px;
        margin: 10px 20px;
    }
    
    .card img {
        width: 100px;
    }
/* git 바로가기 */
    .git-container img {
        width: 60px;
        margin-right: 50px;
    }
    
    .git-container p, .git-container a {
        font-size: 15px;
        margin-right: 70px;
        color: white;
    }
    .git-container a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        border: white solid 1px;
        border-radius: 20px;
    }

    /* 등장인물 */

    .p-container {
        margin-top: 50px;
        display: block;
    }

    /* 리뷰 */
    .review-container {
        position: relative;
        background-image: url("/images/index/top-container-img.jpg");
        height: 1000px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .r-card {
        background-color: white;
        width: 300px;
        height: 190px;
        font-size: 13px;
        display: inline-block;
        margin-top: 20px;
        font-size: 13px;
    }
    /* 작가 */

    .a-container {
        display: block;
        text-align: center;
    }
    
    .a-container div:first-child {
        margin: 0 auto;
    }
    
    .author-img img {
        width: 350px;
        height: 300px;
    }
    .author-img {
        margin: 0 auto;

    }
    
    .a-intro {
        margin: 0 auto;
        font-size: 11px;
    }

    .a-btn {
        padding: 10px 20px;
    }
    /* footer */

    footer {
        color: white;
        display: flex;
        height: 200px;
        background-color: #030D42;
        justify-content: center;
        font-size: 10px;
    }
    
    .underline {
        width: 70px;
        border-top: white 1px solid;
    }
    
    .f-title:first-child .underline {
        width: 150px;
        border-top: white 1px solid;
    }
    
    footer .f-title {
        margin-right: 10px;
    }
    
     footer .f-title:first-child {
        margin-right: 10px;
    } 
    
}