.bg-img {
    background-image: url("/images/story/openbook.jpg");
    display: flex;
    height: 500px;
    width: auto;
    background-attachment: fixed;
    background-size: 100% 700px;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}


.container {
    margin-bottom: 100px;
}

.top-title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* 줄거리 */
.b-container {
    display: flex;
    width: 70%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.b-title {
    width: 1000px;
    font-size: 40px;
}

.book-summary {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-summary p {
    margin-right: 50px;
    margin-bottom: 0;
    text-align: justify;
    order: 1;
}



.b-img {
    border: rgba(61, 61, 61, 0.607) 1px solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: #f1f1f1;
}

.book-summary img {
    width: 250px;
    padding: 15px;
}

.good {
    background-image: url("/images/story/촛불.jpg");
    background-repeat: no-repeat;
    width: 1000px;
    height: 700px;
    background-size: 1000px 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.good p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 100px 30px 100px 30px;
}

/* 리뷰 */

.r-card {
    background-color: white;
    width: 900px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    vertical-align: top;
    align-items: center;
    font-size: 18px;
    border: 1px solid rgb(42, 42, 42);
}

.r-card p{
    margin-right: 20px;
}
.r-card img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
}



@media all and (max-width:1024px) {
    .container {
        margin-bottom: 30px;
    }

    .bg-img {
        background-image: url("/images/story/openbook.jpg");
        display: flex;
        height: 400px;
        width: auto;
        background-attachment: fixed;
        background-size: 100% 500px;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    /* 줄거리 */


    .b-title {
        width: 300px;
        text-align: center;
        font-size: 30px;
    }

    .book-summary {
        width: 80%;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .book-summary p {
        margin-right: 0px;
        margin-bottom: 0;
        text-align: justify;
        order: 1;
    }


    .b-img {
        border: none;
        margin-right: 0px;
        background-color: white;
    }

    .book-summary img {
        width: 250px;
        padding: 15px;
    }



    /* 명언 */

    .good {
        background-image: url("/images/story/촛불.jpg");
        background-size: 300px 200px;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .good p {
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 17px;
        color: white;
        text-align: center;
        padding: 50px 15px 50px 15px;
    }
    /* 후기 */

    .r-card {
        width: 300px;
        height: 200px;
        display: flex;
        margin-top: 20px;
        margin-left: 0px;
        vertical-align: top;
        align-items: center;
        font-size: 13px;
        flex-direction: column;
        border: 1px solid rgb(42, 42, 42);
        text-align: center;
    }

    .r-card:first-child {
        height: 250px;

    }

    .r-card p{
        margin-right: 10px;
        margin-left: 10px;
    }
    .r-card img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-top: 10px;
        margin-right: 100px;
        margin-left: 100px;
    }
    
}